@inherits LayoutComponentBase

@*<div class="sidebar">
</div>*@

    <div class="sidebar" style="width:5%;color:white;">
        <NavMenu />
    </div>

<div class="main">
    @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
    @*<div class="top-row px-4">
        <button class="boton" type="submit">Prueba 1</button>
        <button class="boton" type="submit">Prueba 2</button>
        <button class="boton" type="submit">Prueba 3</button>
    </div>*@

    <div class="content px-4">
        @Body
    </div>
</div>
